.training-page {
  // text-wrap: balance;
  word-break: break-word;

  &__body {
    margin-top: 8pt;
    display: grid;
    grid-template-columns: 202fr 342fr;
    gap: 16pt;
    flex-direction: column;
    justify-content: space-around;
  }

  &__aside {
  }
  &__aside-item {
    & + & {
      margin-top: 16pt;
    }
  }
  &__map {
  }

  &__main {
  }

  &__section {
    display: grid;
    gap: 16pt;
    padding-bottom: 16pt;

    &--2col {
      grid-template-columns: 1fr 1fr;
    }

    & + & {
      padding-top: 16pt;
      border-top: 1pt dashed;
    }
  }
}

.training-exercises {
  &__list {
  }
  &__item {
    display: flex;
    gap: 4pt;

    & + & {
      margin-top: 8pt;
    }
  }
  &__item-icon {
    flex: 0 0 auto;
    width: 12pt;
    height: 12pt;
  }
  &__item-text {
  }
}
