.sub-header {
  text-wrap: balance;
  word-break: break-word;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-text-secondary);
  letter-spacing: 0.05em;

  &--normal {
    font-size: 9pt;
    line-height: 13pt;
  }
  &--small {
    font-size: 7pt;
    line-height: 8pt;
  }
}
