.paragraph {
  font-family: "IBM Plex Sans", sans-serif;

  font-weight: 400;
  color: var(--color-text-main);

  &--bold {
    font-weight: 600;
  }

  &--normal {
    font-size: 12pt;
    line-height: 17pt;
  }

  &--small {
    font-size: 10pt;
    line-height: 12px;
  }
}
