.filled-mark {
  break-inside: avoid;
  
  &__header {
  }
  &__mark {
    margin-top: 6pt;

  font-family: "IBM Plex Sans", sans-serif;
  color: var(--color-text-main);

  
    font-weight: 600;
    font-size: 16pt;
    line-height: 17pt;
  
  }
}